<div class="sidebar-overlay" id="sidebarOverlay"></div>
<aside class="sidebar" id="sidebar">
    <h2 class="sidebar-logo">Categories</h2>
    <button class="close-sidebar" id="closeSidebarBtn">✕</button>

    <nav class="sidebar-nav">
        <ul class="menu">
            {{#each menuItems}}
            <li class="menu-category">
                {{this.parent}}
                <ul>
                    {{#each this.subcategories}}
                    <li>
                        <a href="/category/{{this.id}}">{{this.name}}</a>
                        {{#if (eq this.name "iOS / iPadOS")}}
                        {{else}}
                            {{#if (eq this.name "iOS")}}
                            {{else}}
                                {{#if (eq this.name "iPadOS")}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </nav>
</aside>