<div class="main-content">
    <h1>Welcome to The Tech Mod Forum!</h1>
    {{#if posts.length}}
{{#each posts}}
<div class="post">
    <p>Category: {{category}}</p>
    <a href="/post/{{post_id}}" class="post-title"><h2>{{title}}</h2></a>
    <p>{{contentPreview}}</p>
</div>
<br>
{{/each}}
{{else}}
<p>No posts yet!</p>
{{/if}}
