<div class="container">
    <div id="icon-section">
        <div id="icon-div">
            <img src="{{avatar_url}}" alt="User avatar" id="avatar">
        </div>
    </div>

    <div id="details-section">
        {{#if user}}
        <div id="username">
            <h2>{{user.username}}</h2>
        </div>
        <div id="bio">
            <p>{{user.bio}}</p>
        </div>
        <div id = badge>
            <p>{{user.badge}}</p>
        </div>
        {{else}}
        <p>User not found.</p>
        {{/if}}
    </div>
</div>

<div class="container">
    <div id="posts">
        {{if user.posts.length}}
        {{#each user.posts}}
        <article class="post-card">
            <div class="post-meta">Posted by {{../user.username}} • {{date}}</div>
            <h3>{{title}}</h3>
            <p>{{contentPreview}}</p>
            <a href="viewpost" class="read-more">View Full Thread →</a>
        </article>
        {{/each}}
    </div>
</div>
